@inject IHttpContextAccessor Accessor
@{
    Layout="formlog";
    String message="";
    var er = Accessor.HttpContext.Session.GetInt32("Error");
    @if (er == null)
    {
        message = "";
    }
    else
    {
        message = "Đăng nhập sai thất bại";
        
    }
}


@model Account
@using Eshop.Models

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eshop-Login</title>
    <link rel="stylesheet" href="~/lib/style/intro.css">
</head>
<body>
    <main class="main">
        <section class="form-submit">
            <h1>login</h1>
            <form asp-action="login" class="col-md-4">
                <div class="form-group">
                    <input asp-for="Username" class="form-control" placeholder="Username">
                </div>
                <div class="form-group">
                    <input asp-for="Password" class="form-control" placeholder="Password" />
                    
                </div>
                <div class="flex">
                    @message
                    <a asp-action="create_Account">Register</a>
                </div>
                <button class="btn btn-success">Login</button>
            </form>
        </section>
            <div class="Eshop">
                <svg>
                    <symbol id="text">
                        <text text-anchor="center" x="20%" y="65%">Eshop Everything Book</text>
                    </symbol>
                    <use xlink:href="#text"></use>
                </svg>
            </div>
    </main>
    <section class="bgcover">
    </section>
</body>
</html>
